

@font-face {
    font-family: PressStart;
    src: url(./fonts/PressStart2P-Regular.ttf);
}

body {

margin: 200px;
margin-top: 30px;

background-image: url(Standardpin.gif);



    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}


.form ul{


list-style-type: none;
font-family: "consolas";
font-size: 18px;
overflow: hidden;

text-align: left;
}
.form a{

color: #65e2f8;

}
.form a:hover{

color: #fd41be;

}





}
#image{

   margin-top: 50px;
        height: 250px;
        width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border-style: outset;
    border-radius: 20px;
    border-color: #fa7ac9;
    position: none ;
}

#p1{
    background-image: url(standardpin2.gif);
        background-attachment: fixed;
        background-position: center;
    color:#6de3f3;
    font-family:"PressStart","consola";
    font-size: 35px;
    font-weight: 9000px ;
    border-style: outset;
    border-radius: 10px;
    border-color: #757575;
    padding: 5px;
    text-align: center;
    text-shadow: 10px 5px 5px #11112e;
    
    
}
#p2{

    margin-top: 50px;
    color:white; 
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: italic;
    font-weight: 5000;
    text-align: center;
    text-shadow: 10px 5px 5px rgb(247, 81, 164);


}
#p3{
 
    margin-top: 50px;
    background: fixed;
    color:white;
    font-family: "Courier", "monospace";
    font-size: 18px;
    font-weight: 5000;
    text-align: left;

}
#p4{

    margin-top: 50px;
    background-image: url(standardpin4.gif);
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    color: rgb(255, 255, 255);
    font-family:"consolas","sans serif";
        font-size: 18px;
        border-style:outset;
        border-radius: 20px;
    text-align: center;    
    padding-bottom:3px;
   
}

/* customize button function*/

.navbar ul{

    list-style-type:none;
   
    margin-top: 0px;
    font-family: 'Consolas', Courier, monospace;
        font-size: 21px;
    background:linear-gradient(#6de3f3,#ee62b8);
    background-position: center;
    border-radius: 10px;
    padding:0px ;
    overflow: hidden;

}
.navbar a{

    background-position: center;

    color:#dff7fa;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #857cb1;

}
.navbar li{

float: left;

}
#questions{

    background-color: #fa7ac9;
    font-family: PressStart;
    font-size: 15px;
    border-style: outset;
    border-radius: 5px;
    border-color: #f7e26d;
    color:#ffffff;
    height:25px;
    width:30px;
    text-align: center;
}